:root {
    --primary-light: white;
    --primary-dark: #1f2937;
    --secondary-light: #95ffc1;
    --secondary-dark: #273549;
    --hero: #6943FF;
    --clicked: #b2d5e0;
    --erasers: #0e6175;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100svh;
}

main {
    display: flex;
    flex-direction: column;
}

#top-container {
    height: 35svh;
    background-color: var(--hero);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > div > h1 {
    color: var(--primary-light);
    font-family: sans-serif;
    text-align: center;
}

#input-box {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

input {
    box-sizing: border-box;
    text-align: center;
    border: 3px solid var(--secondary-light);
    background-color: var(--hero);
    color: var(--primary-light);
    border-radius: 4px;
    padding: 0 0 0 12px;
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: 900;
    max-width: 14rem;
    height: 5rem;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border-color: red;
}

input:not(:focus):not(:placeholder-shown):valid {
    border-color: var(--clicked);
}

input::placeholder {
    font: 1.7rem sans-serif;
}

button {
    font-family: sans-serif;
    font-size: 1.2rem;
    background-color: var(--primary-light);
    color: #3d3d3d;
    padding: 15px;
    width: 14rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
}

button:active {
    transform: translateY(4px);
}

#bottom-container {
    height: 60svh;
    background-color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container-info {
    background-color: var(--secondary-dark);
    height: 6rem;
    min-width: 20rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-container {
    color: #ccc1ff;
    font-size: 1.4rem;
    font-family: sans-serif;
}

.generated-text {
    color: var(--primary-light);
    font-family: sans-serif;
    text-align: center;
}

#length-cm {
    margin-top: 2rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-dark);
    gap: 10px;
    width: auto;
    height: 5svh;
}

footer > p {
    font-size: 0.6rem;
    opacity: 40%;
    color: var(--primary-light);
    font-family: sans-serif;
}

.fa-github {
    color: var(--secondary-dark);
    font-size: 20px;
    transition: transform 0.5s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.3);
}

@media only screen and (max-width: 500px) {
    #input-box {
        display: flex;
        flex-direction: column;
    }

    input {
        font-size: 4rem;
        font-family: sans-serif;
        height: 4rem;
        text-align: center;
    }

    button {
        padding: 10px;
        width: 14rem;
        margin-top: 2rem;
    }

    .container-info {
        width: 22rem;
    }
}
